<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <h3 th:if="${author.id != null}">Edit Author</h3>
            <h3 th:unless="${author.id != null}">Add New Author</h3>

            <!-- FOR EDIT -->
            <form th:if="${author.id != null}"
                  method="post"
                  th:action="@{/authors/edit/{id}(id=${author.id})}">

                <div class="form-group">
                    <label for="title-edit">Author Name</label>
                    <input type="text"
                           class="form-control"
                           id="title-edit"
                           name="name"
                           th:value="${author.name}"
                           required>
                </div>

                <div class="form-group">
                    <label for="genre-edit">Author Surname</label>
                    <input type="text"
                           class="form-control"
                           id="genre-edit"
                           name="surname"
                           th:value="${author.surname}"
                           required>
                </div>

                <div class="form-group">
                    <label for="rating-edit"> Biography</label>
                    <input type="text"
                           step="0.01"
                           class="form-control"
                           id="rating-edit"
                           name="biography"
                           th:value="${author.biography}"
                           min="0"
                           max="5"
                           required>
                </div>
                <div class="form-group">
                    <label for="country-edit"> country</label>
                    <input type="text"
                           step="0.01"
                           class="form-control"
                           id="country-edit"
                           name="country"
                           th:value="${author.country}"
                           required>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a class="btn btn-secondary" th:href="@{/authors}">Cancel</a>
            </form>

            <!-- FOR ADD -->
            <form th:unless="${author.id != null}"
                  method="post"
                  th:action="@{/authors/add}">

                <div class="form-group">
                    <label for="title-add">Author Name</label>
                    <input type="text"
                           class="form-control"
                           id="title-add"
                           name="name"
                           placeholder="Enter book title"
                           required>
                </div>

                <div class="form-group">
                    <label for="genre-add">Surname</label>
                    <input type="text"
                           class="form-control"
                           id="genre-add"
                           name="surname"
                           placeholder="Enter genre"
                           required>
                </div>
                <div class="form-group">
                    <label for="biograpy-add">Biography</label>
                    <input type="text"
                           class="form-control"
                           id="biograpy-add"
                           name="biography"
                           required>
                </div>

                <div class="form-group">
                    <label for="rating-add">Country</label>
                    <input type="text"
                           class="form-control"
                           id="rating-add"
                           name="country"
                           required>
                </div>

                <button type="submit" class="btn btn-primary">Add Author</button>
                <a class="btn btn-secondary" th:href="@{/authors}">Cancel</a>
            </form>

        </div>
    </div>
</div>
</body>
</html>